.item-container {
  display: flex;
  width: 98%;
  height: 95%;
  justify-content: space-between;
}


@media screen and (max-width:805px) {

  .item-container{
     flex-direction: column;
     justify-content: center;
     align-items: center;
  }
  
      
  }