.pagination{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center; 
   
}

.pagination ul{
list-style-type:none;
width: 50%;
display: flex;
justify-content: center;
margin: 0;
padding-left: 0;
}

li{
    height: 100%;
    margin-left: 5px;
    cursor: pointer;
}
li:hover{
 
    color: gray;

}

.is-active{
    color: rgb(223, 190, 5);
}