.commande-container {
    display: flex;
    width: 98%;
    min-height: 550px;
    justify-content:space-between;
    align-items: center;
    
  }
  
  .user-form-container{

    width: 48%; 
    display: flex;  
    justify-content: flex-start;
    min-height: 500px;
    display: flex;
    justify-content: center;
    border-right: rgb(209, 179, 10) 1px solid;

    
  }

  .user-commande{
   width: 50%;
   display: flex;
   justify-content: center;
  }


  @media screen and (max-width:959px) { 


    .commande-container{
   
     flex-direction: column;
     align-items: center;
    }  

    .user-form-container{ 
     width: 100%;
     margin-top: 10px;
    }

    .user-commande{
      width: 100%;
    }


    
  }