.commande-container {
    display: flex;
    width: 98%;
    height: 95%;
    justify-content:space-between;
  }
  
  .user-form-container{

    width: 48%; 
    display: flex;  
    justify-content: flex-start;
    
  }

  .user-commande{
   width: 48%;
  }


  @media screen and (max-width:959px) { 


    .commande-container{
   
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
    } 

    .user-form-container{
      width: 80%;   
      height: 45%;
    } 

    
  }