.details-basket-container {
    display: flex;
    width: 80%;
    height: 95%;
    align-items: flex-start ;
    justify-content: center;
    margin-top: 5px;
  }


  
  
  @media screen and (max-width:600px) { 
    
    tr{
  
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    td:empty{
      display: none;
    }
    
    td span{
      text-align: center;
    }
    
  }

