.form-container{
    display: grid;
    grid-template-rows: 15% 15% 15% 15%;
    grid-template-columns: 40% 40%;
    background-color: royalblue; 
    column-gap: 1%;
    row-gap: 1%;
    width: 100%;
    height: 100%;
}

.item-name{
grid-column-start: 1;
grid-column-end: 2; 
grid-row-start: 1;
grid-row-end: 2;
display: grid;
grid-template-rows: 50% 50%;
grid-template-columns: 50% 50%;
}


.item-lastname{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
}

.item-address{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    
}

.item-email{

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
   
}

.item-mobile{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
}
.btn-container{

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
} 

.item-error{

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

@media screen and (max-width:959px) {
    .form-container{

        display: grid;
        grid-template-rows: 15% 15% 15% 15% 15% 15%;
        grid-template-columns: 60%;
        background-color: royalblue; 
       
    }

    
.item-name{
    grid-column-start: 1;
    grid-column-end: 2; 
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    }
    
    
    .item-lastname{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;
    }
    
    .item-address{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;
        
    }
    
    .item-email{
    
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;
       
    }
    
    .item-mobile{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;
    }
    .btn-container{
    
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
    } 
    
    .item-error{
    
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    
     
            
                
} 