

body {
  margin: 0;

}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal>div {
  background-color: white;
  width: 25%;
  padding: 15px;
  border-radius: 5px;
  text-align: center; 
  font-family: cursive;
  font-size: 1.2rem;
}

@media screen and (max-width:970px) {

 .modal-msg{
   display: none;
 } 
 #modal>div{ 
   font-size: 16px;
   width: fit-content;

 }
      
  }

