.footer-container{ 
   
    background-color:black;
    width: 100%;
    height: 30px; 
    display: flex;
    justify-content: left;
    align-items: center;
} 

.footer-container div {
  
    margin: 1%;
    color: cornsilk;
}

.footer-container div:hover{
    color: gold;
    cursor: pointer;
}

.footer-container div a{
    font-size: 15px;
}