.navbar-container{
    width: 100%; 
    display:flex;
    justify-content:space-between;
    background-color:rgb(19, 16, 16);
    color: cornsilk;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 35px;
  

}
.logo{
    border-right: rgb(224, 191, 4) 1px solid;

}

.link-container{ 
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping-card{ 
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: rgb(224, 191, 4) 1px solid;

} 


.logo
{
    width: 15%;
    height: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


div a{
        color: white;
        font-size: 20px;
        margin: 1%;
        
}
div a:link{
    text-decoration: none;
}
div a:hover{
    color: rgb(224, 191, 4);
}